<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flight Routes System{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <nav>
            <a href="{% url 'add-route' %}">✈️ Add Route</a>
            <a href="{% url 'nth-node' %}">🔍 Nth Node</a>
            <a href="{% url 'longest' %}">⏱️ Longest</a>
            <a href="{% url 'shortest' %}">⚡ Shortest</a>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
